<h1>About Me</h1>

<hr>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "ugandanknuck.jpg", width: 450, alt:"profile pic" %>
  </div>

    


  <div class="col-md-8">
    <p>
      DO YOU KNOW DE WAE?
    </p>

    <p>
      I KNOW DE WAE
    </p>

  </div>
</div>