<div id="app-card-contact-container">
  <div class="card">
    <h1>Would you like to work together?</h1>

    <hr>

    <div class="row">
      <div class="col-md-6">
        <h3>My Address</h3>

        <p>7506 s 5680 w</p>

        <h3>Phone</h3>

        <p><%= number_to_phone "801-803-1282" %></p>

        <h3>Email</h3>

        <p><a href="mailto:alonsorubydev@gmail.com?subject=PortfolioContact" "email me">Email me</a> </p>
      </div>

      <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3028.684655783085!2d-112.02870224910734!3d40.614780679241164!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87528e1481c0eb33%3A0x42edc9a83c600b11!2s7506+5680+W%2C+West+Jordan%2C+UT+84081!5e0!3m2!1sen!2sus!4v1520622343834" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>