<div class="inner cover">
  <h1 class="cover-heading">Welcome.</h1>
  <p class="lead">Hello and welcome to my portfolio site, please make sure to login as blah@blah.com with password whopper1 to have full access to the site. This site features a drag and drop interface for a portfolio, and blog posts with real time comments.</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>
